.productCardLink {
  color: inherit;
  text-decoration: inherit;
}

.productCard {
  display: flex;
  flex-direction: column;
  height: 100%;

  .image {
    width: 100%;
  }

  .imagePlaceholder {
    height: 100%;
    background-color: var(--gray-50);
  }
}

@media (max-width: 768px) {
  .productCard {
    flex-direction: row;

    .image {
      width: 102px;
      height: 136px;
    }

    .imagePlaceholder {
      min-width: 102px;
    }
  }
}
